{% extends 'order_page.html' %}

{% block cards %}
<article class="card" onload= "hey("pizza")">
    <a href="#">
        <figure class="thumbnail">
            <img src="static/img/nachos.png" alt="Nachos">
        </figure>
        <div class="card-content">
            <h2>Nachos</h2>
            <p id = "Nachos">
                <script type="text/javascript">
                
                </script>
            </p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="static/img/chickenwings.png" alt="Chicken Wings">
        </figure>
        <div class="card-content">
            <h2>Chicken Wings</h2>
            <p>BBQ bone-in chicken wings. Comes with ranch and celery!</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="static/img/calamari.png" alt="Calamari">
        </figure>
        <div class="card-content">
            <h2>Calamari</h2>
            <p>A massive mound of crsipy calamari!</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="static/img/olives.png" alt="Olives">
        </figure>
        <div class="card-content">
            <h2>Olives</h2>
            <p>Some salty olives to keep you satisfied while you wait.</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="static/img/sushi.png" alt="Sushi">
        </figure>
        <div class="card-content">
            <h2>Sushi</h2>
            <p>A sushi platter with everything you would ever desire!</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="static/img/burger.png" alt="Burger">
        </figure>
        <div class="card-content">
            <h2>Burger</h2>
            <p>A BBQ burger with onion rings!</p>
        </div>
    </a>
</article>
{% endblock %}