{% extends 'order_page.html' %}

{% block cards %}
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="" alt="Nachos">
        </figure>
        <div class="card-content">
            <h2>Nachos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="" alt="Chicken Wings">
        </figure>
        <div class="card-content">
            <h2>Chicken Wings</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="" alt="Calamari">
        </figure>
        <div class="card-content">
            <h2>Calamari</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="" alt="Olives">
        </figure>
        <div class="card-content">
            <h2>Olives</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="" alt="Food">
        </figure>
        <div class="card-content">
            <h2>Food</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
        </div>
    </a>
</article>
<article class="card">
    <a href="#">
        <figure class="thumbnail">
            <img src="" alt="Food">
        </figure>
        <div class="card-content">
            <h2>Food</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
        </div>
    </a>
</article>
{% endblock %}