{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
{% for message in get_flashed_messages() %}
<div class="text-center">
    <p class="alert">{{ message }}</p>
</div>
{% endfor %}
<br />
<h1 class="title_box">Boishii Mobile Menu</h1>
<br />
<br />
<div class="boishii_form">
    <form class="text-center" method="POST" action="/">
        {{ form.csrf_token }}
        <p>{{ form.cName.label }}</p>
        <p>{{ form.cName(class="input_box") }}</p>

        {% if form.cName.errors %}
            <ul class="errors">
                {% for error in form.cName.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.tableNum.label }}
        </p>
        {{ form.tableNum(class="input_box") }}

        {% if form.tableNum.errors %}
            <ul class="errors">
                {% for error in form.tableNum.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.restID.label }}
        </p>
        {{ form.restID(class="input_box") }}

        {% if form.restID.errors %}
            <ul class="errors">
                {% for error in form.restID.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            <input type="submit" class="submit_btn" value="Submit" onclick="makeOrder(form)">
        </p>
    </form>
</div>
{% endblock %}
