<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="{{ url_for('static', filename = 'css/order-styles.css') }}">
    <script src="{{ url_for('static', filename = 'js/order.js') }}" async></script>
    <!--<script src="store.js" async></script>-->
</head>

<body>
    <header class="boishii-titlebox clear">
        <div class="centered">
            <div>
                <h1 class="site-title">Boishii Mobile Menu</h1>
            </div>
        </div>
    </header>
    <!--Code here was adapted from https://codesandbox.io/s/agitated-tu-97n1i?file=/index.html-->
    <nav class="main-nav">
        <ul>
            <li><a href="/Appetizers">Appetizers</a></li>
            <li><a href="/Main_Courses">Main Courses</a></li>
            <li><a href="/Dessert">Dessert</a></li>
            <li><a href="/Drinks">Drinks</a></li>
        </ul>
    </nav>
    <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
            <li><a href="/Appetizers">Appetizers</a></li>
            <li><a href="/Main_Courses">Main Courses</a></li>
            <li><a href="/Dessert">Dessert</a></li>
            <li><a href="/Drinks">Drinks</a></li>
        </ul>
    </div>
    <!--End of adapted code-->

    <main class="main-area">
        <div class="centered">
            <section class="cards">
                {% block cards %}
                {% endblock %}
            </section>
        </div>
    </main>
    <!--Adapted from: https://github.com/WebDevSimplified/Introduction-to-Web-Development/blob/master/Introduction%20to%20JavaScript/Lesson%201/store.html--> 
    <section class="container content-section">
        <h2 class="section-header">ORDER</h2>
        <div class="order-row">
            <span class="order-item order-header order-column">ITEM</span>
            <span class="order-price order-header order-column">PRICE</span>
            <span class="order-quantity order-header order-column">QUANTITY</span>
        </div>
        <div class="order-items">
        </div>
        <div class="order-total">
            <strong class="order-total-title">Total</strong>
            <span class="order-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
    </section>
</body>