{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<br />
<h1 class="title_box">Boishii Mobile Menu</h1>
<br />
<br />
<div class="boishii_form">
    <form class="text-center">
        <label for="cust_name">Customer Name:</label>
        <br />
        <input type="text" id="cust_name" class="input_box" name="cust_name">
        <br />
        <br />
        <label for="table_num">Table No.:</label>
        <br />
        <input type="text" id="table_num" class="input_box" name="table_num">
        <br />
        <br />
        <label for="restaurant_id">Restaurant ID (Ask your server):</label>
        <br />
        <input type="text" id="restaurant_id" class="input_box" name="restaurant_id">
        <br />
        <br />
        <input type="submit" class="submit_btn" value="Submit">
    </form>
</div>
{% endblock %}
